.efficiency {
  padding: 295px 0px 225px 0px;
  @include laptop {
    background-size: 1035px auto !important;
  }
  @include laptop-middle {
    background-size: 915px auto !important;
  }
  @include laptop-min {
    background-size: 600px auto !important;
    padding-bottom: 150px;
  }
  @include tablet {
    padding-bottom: 80px;
  }
  @include mobile {
    padding-top: 230px;
    background-size: 100% auto !important;
  }
  &__title {
    font-size: 16px;
    line-height: 120%;
    margin: 0px 0px 25px 0px;
  }
  &__content {
    max-width: 370px;
    font-size: 14px;
    line-height: 160%;
    margin: 0px 0px 80px 0px;
    @include tablet {
      margin-bottom: 40px;
    }
  }
  &__rect {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 40px;
    border-radius: 50px;
    max-width: 405px;
    border: 1px solid var(--primary);
  }
  &__rect-icon {
    width: 40px;
    height: 40px;
    color: var(--primary);
    flex-shrink: 0;
  }
  &__rect-content {
    margin: 0;
    font-size: 14px;
    line-height: 160%;
  }
}
