.product-info {
  overflow: hidden;
  padding-bottom: 75px;
  &__nav {
    display: flex;
    align-items: center;
    border-radius: 15px;
    background-color: var(--silver-l);
    border-radius: 15px;
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 30px;
    @media (min-width: 744px) {
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }

    @include tablet {
      margin: 0 -20px 25px -20px;
      padding: 0 20px;
    }
  }
  &__btn {
    @include flex-center;
    position: relative;
    border-radius: 20px;
    padding: 30px 52px;

    font-size: 14px;
    font-weight: 500;
    transition:
      color 0.2s ease,
      background-color 0.2s ease;

    @include hover {
      text-decoration: underline;
    }
    &._active {
      background-color: var(--primary);
      color: var(--storm);

      &::after {
        display: none;
      }
    }
    @include tablet {
      font-size: 12px;
      padding: 20px;
    }

    &:not(:last-child) {
      &::after {
        position: absolute;
        content: "";
        right: 0;
        height: 55px;
        width: 1px;
        background-color: var(--bg);
      }
    }
  }
  &__specifications {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    row-gap: 0px;
    &._hidden {
      li {
        &:not(:nth-child(-n + 14)) {
          display: none;
        }
      }

      &::after {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        left: 0;
        bottom: -30px;
        background: linear-gradient(
          180deg,
          rgba(217, 217, 217, 0) 29.91%,
          #d1d1d0 73.34%
        );
        @include tablet {
          bottom: 0;
          opacity: 0.5;
          background: linear-gradient(
            180deg,
            rgba(217, 217, 217, 0) 0%,
            #d1d1d0 100%
          );
        }
      }
    }

    @include laptop-min {
      gap: 50px;
      row-gap: 0px;
    }
    @include tablet {
      &._hidden {
        li {
          &:not(:nth-child(-n + 5)) {
            display: none;
          }
        }
      }
    }

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      flex: 0 1 calc(50% - 50px);
      padding: 10px 25px;
      border-radius: 10px;
      font-size: 12px;

      &:nth-child(4n-3),
      &:nth-child(4n-2) {
        background-color: var(--storm);
      }

      @include laptop {
        flex-basis: calc(50% - 25px);
      }
      @include tablet {
        flex-basis: 100%;
        &:nth-child(4n-3),
        &:nth-child(4n-2) {
          background-color: transparent;
        }

        &:nth-child(odd) {
          background-color: var(--storm);
        }
      }

      span {
        &:first-child {
          flex: 1;
        }
      }
    }
  }
  &__specifications-btn {
    margin: 40px auto 0px auto;
  }
  &__guarantee-wrapper {
    display: flex;
    align-items: center;
    gap: 32px;
    @include tablet {
      flex-direction: column;
      gap: 20px;
      text-align: center;
    }
  }
  &__guarantee-info {
    max-width: 350px;
  }
  &__guarantee-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 160%;
    color: var(--primary);
    margin: 0;
    @include tablet {
      text-align: center;
    }
  }
  &__guarantee-content {
    font-size: 14px;
    line-height: 160%;
    margin: 0;
  }
  &__guarantee-btn {
    font-size: 11px;
    font-weight: 500;
    text-decoration: underline;

    padding: 15px 20px;
    border-radius: 100px;
    background-color: var(--storm);
    transition:
      background-color 0.2s ease,
      color 0.2s ease;
    @include hover {
      color: var(--storm);
      background-color: var(--primary);
    }
  }
  &__set-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    li {
      padding: 10px 30px;
      border-radius: 100px;
      display: flex;
      align-items: center;
      gap: 10px;
      background-color: var(--silver-l);

      font-size: 14px;
      font-weight: 500;

      @include tablet {
        padding: 10px 20px;
      }
    }
  }
  &__set-number {
    @include flex-center;
    width: 33px;
    height: 27px;
    border-radius: 10px;
    background-color: var(--primary);

    font-size: 14px;
    font-weight: 500;
    color: var(--storm);
  }
  &__documentation-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    a {
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 10px 30px;
      background-color: var(--silver-l);
      border-radius: 100px;

      font-size: 14px;
      font-weight: 500;
      line-height: 160%;
      @include tablet {
        font-size: 12px;
        line-height: 140%;
      }

      span {
        color: var(--primary);
        display: block;
      }
    }
  }
  &__documentation-icon {
    width: 30px;
    height: 30px;
    color: var(--primary);
    @include tablet {
      width: 20px;
      height: 20px;
    }
  }
  &__delivery-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 110px;
    row-gap: 30px;
    @include tablet {
      row-gap: 20px;
    }
  }
  &__delivery-article {
    position: relative;
    font-size: 14px;
    line-height: 160%;
    padding-left: 15px;
    &::before {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
      width: 3px;
      border-radius: 10px;
      background-color: var(--primary);
    }

    p {
      margin: 0;
    }
  }
  &__service {
    display: flex;
    gap: 50px;
    @include tablet {
      flex-wrap: wrap;
      gap: 20px;
    }
  }
  &__service-title {
    font-size: 24px;
    font-weight: 400;
    line-height: 120%;
    max-width: 290px;
    margin: 0;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @include tablet {
      width: 100%;
    }
    li {
      position: relative;
      padding-left: 15px;
      font-size: 14px;
      font-weight: 400;
      gap: 3px;
      &::before {
        position: absolute;
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 2px;
        background-color: var(--primary);
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      a {
        color: var(--primary);
        text-decoration: underline;
        font-weight: 700;
        @include hover {
          text-decoration: none;
        }
      }
    }
  }
}
