.product-info {
  overflow: hidden;
  padding-bottom: 75px;
  &__nav {
    display: flex;
    align-items: center;
    border-radius: 15px;
    background-color: var(--silver-l);
    border-radius: 15px;
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 30px;
    @media (min-width: 744px) {
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }

    @include tablet {
      margin: 0 -20px 25px -20px;
      padding: 0 20px;
    }
  }
  &__btn {
    @include flex-center;
    position: relative;
    border-radius: 20px;
    padding: 30px 52px;

    font-size: 14px;
    font-weight: 500;
    transition:
      color 0.2s ease,
      background-color 0.2s ease;

    @include hover {
      text-decoration: underline;
    }
    &._active {
      background-color: var(--primary);
      color: var(--storm);

      &::after {
        display: none;
      }
    }
    @include tablet {
      font-size: 12px;
      padding: 20px;
    }

    &:not(:last-child) {
      &::after {
        position: absolute;
        content: "";
        right: 0;
        height: 55px;
        width: 1px;
        background-color: var(--bg);
      }
    }
  }
  &__specifications {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    row-gap: 0px;
    &._hidden {
      li {
        &:not(:nth-child(-n+14)) {
          display: none;
        }
      }

      &::after {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        left: 0;
        bottom: -30px;
        background: linear-gradient(
          180deg,
          rgba(217, 217, 217, 0) 29.91%,
          #d1d1d0 73.34%
        );
        @include tablet {
          bottom: 0;
          opacity: 0.5;
          background: linear-gradient(
            180deg,
            rgba(217, 217, 217, 0) 0%,
            #d1d1d0 100%
          );
        }
      }
    }

    @include laptop-min {
      gap: 50px;
      row-gap: 0px;
    }
    @include tablet {
      &._hidden {
        li {
          &:not(:nth-child(-n+5)) {
            display: none;
          }
        }
      }
    }

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      flex: 0 1 calc(50% - 50px);
      padding: 10px 25px;
      border-radius: 10px;
      font-size: 12px;

      &:nth-child(4n-3),
      &:nth-child(4n-2) {
        background-color: var(--storm);
      }

      @include laptop {
        flex-basis: calc(50% - 25px);
      }
      @include tablet {
        flex-basis: 100%;
        &:nth-child(4n-3),
        &:nth-child(4n-2) {
          background-color: transparent;
        }

        &:nth-child(odd) {
          background-color: var(--storm);
        }
      }

      span {
        &:first-child {
          flex: 1;
        }
      }
    }
  }
  &__specifications-btn {
    margin: 40px auto 0px auto;
  }
}
