.reliable {
  position: relative;
  padding: 55px 0px 160px 0px;
  background-attachment: scroll !important;
  z-index: 1;
  @include laptop {
    background-size: 735px auto !important;
  }
  @include laptop-middle {
    background-size: 520px auto !important;
    background-position: top 80px right -110px !important;
  }
  @include tablet {
    padding: 0px 0px 50px 0px;
  }
  &__title {
    max-width: 630px;
    margin: 0px 0px 50px 0px;
  }
  &__wrapper {
    display: flex;
    align-items: start;
  }
  &__body {
    max-width: 535px;
    @include laptop-min {
      max-width: 375px;
    }
    @include mobile {
      max-width: 210px;
    }
  }
  &__article {
    position: relative;
    padding-left: 29px;
    &:not(:last-child) {
      margin-bottom: 65px;
    }

    @include tablet {
      padding-left: 19px;
    }

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      width: 4px;
      background-color: var(--silver);
      border-radius: 20px;
    }
  }
  &__article-title {
    font-size: 16px;
    margin: 0px 0px 25px 0px;
    @include tablet {
      font-size: 14px;
      margin-bottom: 15px;
    }
  }
  &__article-content {
    font-size: 14px;
    line-height: 160%;
    @include tablet {
      font-size: 12px;
    }

    p {
      margin-top: 0;
      &:not(:last-child) {
        margin-bottom: 25px;
      }
      strong {
        font-weight: 500;
      }

      @include tablet {
        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }
    }
  }
  &__article-footer {
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--primary);
    @include tablet {
      flex-direction: column;
      align-items: start;
      gap: 15px;
    }
  }
  &__article-icon {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    @include tablet {
      width: 30px;
      height: 30px;
    }
  }
  &__article-subcontent {
    font-size: 16px;
    font-weight: 700;
    max-width: 325px;
    margin: 0;
    @include tablet {
      font-size: 14px;
    }
  }
  &__rect {
    padding: 20px 40px;
    background-color: var(--silver);
    border-radius: 20px;

    &:not(:last-child) {
      margin-bottom: 65px;
    }

    @include tablet {
      padding: 20px;
    }
  }
  &__rect-title {
    font-size: 16px;
    margin: 0px 0px 25px 0px;
    @include tablet {
      font-size: 14px;
      margin-bottom: 15px;
    }
  }
  &__rect-content {
    font-size: 14px;
    line-height: 160%;
    margin: 0;

    @include tablet {
      font-size: 12px;
    }

    p {
      margin: 0;
    }
  }
  &__img {
    position: sticky;
    top: 10px;
    width: 925px;
    height: auto;
    margin-left: auto;
    @include laptop {
      width: 605px;
    }
    @include laptop-middle {
      width: 550px;
    }
    @include laptop-min {
      width: 310px;
    }
    @include tablet {
      width: 215px;
    }
    @include mobile {
      width: 115px;
    }
  }
}
