@keyframes transX {
  0%{
    transform: translateX(0px);
  }
  50% {
    transform: translateX(20px);
  }
  100%{
    transform: translateX(0px);
  }
}

@keyframes transY {
  0%{
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100%{
    transform: translateY(0px);
  }
}
