@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin hover {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }
  @media (hover: none) {
    &:active {
      @content;
    }
  }
}

@mixin hidden {
  position: absolute;
  left: -1000px;
  width: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
}
