:root {
  --main: #3A3837;
  --fuscous: #54514F;
  --cloudy: #B0A8A2;

  --storm: #EEEDEB;
  --bg: #D1D1D0;
  --silver: #C6C6C6;
  --pampas: #F1EBE7;
  --chalice: #ADABAA;
  --alto: #D9D9D9;

  --primary: #4A7FC3;
  --primary-light: #9ABAE3;

  --blue: #6AA3EE;
}