:root {
  --tapa: #797573;
  --main: #3a3837;
  --fuscous: #54514f;
  --chicago: #595857;
  --cloudy: #b0a8a2;
  --cotton: #b9b8b7;

  --storm-m: #e3e3e3;
  --storm-l: #e1e1e1;
  --storm: #eeedeb;
  --bg: #d1d1d0;
  --silver: #c6c6c6;
  --silver-l: #c4c4c4;
  --pampas: #f1ebe7;
  --chalice: #adabaa;
  --alto: #d9d9d9;
  --silver-m: #d6d6d6;
  --silver-s: #afafaf;
  --gray: #e0dfdd;
  --schooner: #847f7c;
  --gallery: #eaeaea;

  --primary-dark: #3f6eab;
  --primary: #4a7fc3;
  --primary-light: #9abae3;

  --blue: #6aa3ee;
}
