<section class="advantages">
  <div class="container">
    <div class="advantages__head">
      <img src="@img/logo.svg" alt="logo" class="advantages__logo" />
      <span class="advantages__tag">Это простота во всем</span>
    </div>
    <div class="advantages__body">
      <article class="advantages__article">
        <img src="@img/adv-1.jpg" alt="image" class="advantages__img" />
        <h5 class="advantages__title">
          Легко установить, справится даже новичок
        </h5>
        <p class="advantages__contnet">
          В комплекте HDMI кабель, блок питания 12В <br />
          и кабель к нему, крепление к монитору, <br />
          подробная инструкция на человеческом <br />
          русском языке.
        </p>
      </article>
      <article class="advantages__article">
        <img src="@img/adv-2.jpg" alt="image" class="advantages__img" />
        <h5 class="advantages__title">Стильно выглядит</h5>
        <p class="advantages__contnet">
          Мы постарались, чтобы внешний вид <br />
          был дружелюбным, эстетичным, приятным. <br />
          Закрепите сзади монитора — это почти моноблок. <br />
          Это легкость в пространстве: меньше визуального шума.
        </p>
      </article>
      <article class="advantages__article">
        <img src="@img/adv-3.jpg" alt="image" class="advantages__img" />
        <h5 class="advantages__title">Простой первый запуск</h5>
        <div class="advantages__info">
          <p class="advantages__contnet">
            Предустановлена Windows 11 Pro. При первом включении автоматическая
            установка, нужно ввести только имя и пароль —
            <strong>на все пара минут.</strong> <br />
            <br />
            А на сайте всё необходимое ПО:
            <a href="#" download="">скачайте</a> и еще через 5 минут ПК
            полностью готов к работе.
          </p>
          <a href="#" class="advantages__arrow">
            <svg class="advantages__arrow-icon">
              <use xlink:href="img/icons/icons.svg#icon-arrows-l"></use>
            </svg>
          </a>
        </div>
      </article>
      <div class="advantages__windows">
          <img
            src="@img/windows.png"
            alt="icon"
            class="advantages__windows-icon"
          />
          <div>
            <h5 class="advantages__windows-title">
              И без проблем с Microsoft!
            </h5>
            <p class="advantages__windows-content">
              В связи с санкциями мы разработали инструкции для безопасного
              запуска ПК и стабильной работы без блокировок
            </p>
          </div>
        </div>
    </div>
  </div>
</section>
