<section class="available">
  <div class="container tab-container">
    <div class="available__line">
      <svg class="available__line-heart">
        <use xlink:href="img/icons/icons.svg#icon-heart"></use>
      </svg>
      <h5 class="available__line-title">
        У каждого <br />
        мини-ПК JuniBox:
      </h5>
      <ul class="list available__line-list">
        <li class="available__line-item">
          <img
            src="@img/time-fast.svg"
            alt="icon"
            class="available__line-item-icon"
          />
          <h6 class="available__line-item-title">Топ-сборка</h6>
          <p class="available__line-item-content">
            устройства служат долго <br />
            верой и правдой
          </p>
        </li>
        <li class="available__line-item">
          <img
            src="@img/time-fast.svg"
            alt="icon"
            class="available__line-item-icon"
          />
          <h6 class="available__line-item-title">30 дней</h6>
          <p class="available__line-item-content">
            увеличенный срок возврата без объяснения причин
          </p>
        </li>
        <li class="available__line-item">
          <img
            src="@img/time-fast.svg"
            alt="icon"
            class="available__line-item-icon"
          />
          <h6 class="available__line-item-title">За 5 минут</h6>
          <p class="available__line-item-content">
            запуск без установки <br />
            и знаний
          </p>
        </li>
        <li class="available__line-item">
          <img
            src="@img/time-fast.svg"
            alt="icon"
            class="available__line-item-icon"
          />
          <h6 class="available__line-item-title">За 5 минут</h6>
          <p class="available__line-item-content">
            запуск без установки <br />
            и знаний
          </p>
        </li>
        <li class="available__line-item">
          <img
            src="@img/time-fast.svg"
            alt="icon"
            class="available__line-item-icon"
          />
          <h6 class="available__line-item-title">За 5 минут</h6>
          <p class="available__line-item-content">
            запуск без установки <br />
            и знаний
          </p>
        </li>
        <li class="available__line-item">
          <img
            src="@img/time-fast.svg"
            alt="icon"
            class="available__line-item-icon"
          />
          <h6 class="available__line-item-title">За 5 минут</h6>
          <p class="available__line-item-content">
            запуск без установки <br />
            и знаний
          </p>
        </li>
      </ul>
      <a href="#" class="available__line-btn">
        <svg class="available__line-icon">
          <use xlink:href="img/icons/icons.svg#icon-search-heart"></use>
        </svg>
        <span>Смотреть больше преимуществ</span>
      </a>
    </div>
    <h2 class="title-2 available__title">
      Доступные модификации JuniBox Q-ube Pro:
    </h2>

    <div class="available__table">
      <div class="available__table-body">
        <div class="available__table-head">
          <div class="available__table-item">
            <span>ОЗУ</span>
          </div>
          <div class="available__table-item">
            <span>HDD</span>
          </div>
          <div class="available__table-item">
            <span>Видеокарта</span>
          </div>
          <div class="available__table-item">
            <span>Процессор</span>
          </div>
          <div class="available__table-item">
            <span>Цена на Озон</span>
          </div>
          <div class="available__table-item">
            <span>Сравнение</span>
          </div>
          <div class="available__table-item">
            <span>Опт. прайс</span>
          </div>
        </div>
        <div class="available__table-row">
          <div class="available__table-item">
            <span>8 Гб</span>
          </div>
          <div class="available__table-item">
            <span>256 Гб</span>
          </div>
          <div class="available__table-item">
            <span>Intel UHD Graphics</span>
          </div>
          <div class="available__table-item">
            <span>Intel Processor N100</span>
          </div>
          <div class="available__table-item">
            <span class="available__table-price">17 994 р. </span>
          </div>
          <div class="available__table-item">
            <button class="btn-clear available__compare">
              <span>Сравнить</span>
              <div class="available__compare-wrapper">
                <svg class="available__compare-icon">
                  <use xlink:href="img/icons/icons.svg#icon-chart"></use>
                </svg>
              </div>
            </button>
          </div>
          <div class="available__table-item">
            <button
              data-modal-btn="buyer-2"
              class="btn-clear available__table-wh"
            >
              Получить КП
            </button>
          </div>
        </div>
        <div class="available__table-row">
          <div class="available__table-item">
            <span>8 Гб</span>
          </div>
          <div class="available__table-item">
            <span>256 Гб</span>
          </div>
          <div class="available__table-item">
            <span>Intel UHD Graphics</span>
          </div>
          <div class="available__table-item">
            <span>Intel Processor N100</span>
          </div>
          <div class="available__table-item">
            <span class="available__table-price">17 994 р. </span>
          </div>
          <div class="available__table-item">
            <div class="btn-clear available__compare-current">
              <span>Добавлен <a href="#">в сравнение</a></span>
              <div class="available__compare-current-wrapper">
                <svg class="available__compare-icon">
                  <use xlink:href="img/icons/icons.svg#icon-check"></use>
                </svg>
              </div>
            </div>
          </div>
          <div class="available__table-item">
            <button
              data-modal-btn="buyer-2"
              class="btn-clear available__table-wh"
            >
              Получить КП
            </button>
          </div>
        </div>
        <div class="available__table-row">
          <div class="available__table-item">
            <span>8 Гб</span>
          </div>
          <div class="available__table-item">
            <span>256 Гб</span>
          </div>
          <div class="available__table-item">
            <span>Intel UHD Graphics</span>
          </div>
          <div class="available__table-item">
            <span>Intel Processor N100</span>
          </div>
          <div class="available__table-item">
            <span class="available__table-price">17 994 р. </span>
          </div>
          <div class="available__table-item">
            <button class="btn-clear available__compare">
              <span>Сравнить</span>
              <div class="available__compare-wrapper">
                <svg class="available__compare-icon">
                  <use xlink:href="img/icons/icons.svg#icon-chart"></use>
                </svg>
              </div>
            </button>
          </div>
          <div class="available__table-item">
            <button
              data-modal-btn="buyer-2"
              class="btn-clear available__table-wh"
            >
              Получить КП
            </button>
          </div>
        </div>
        <div class="available__table-row">
          <div class="available__table-item">
            <span>8 Гб</span>
          </div>
          <div class="available__table-item">
            <span>256 Гб</span>
          </div>
          <div class="available__table-item">
            <span>Intel UHD Graphics</span>
          </div>
          <div class="available__table-item">
            <span>Intel Processor N100</span>
          </div>
          <div class="available__table-item">
            <span class="available__table-price">17 994 р. </span>
          </div>
          <div class="available__table-item">
            <div class="btn-clear available__compare-current">
              <span>Добавлен <a href="#">в сравнение</a></span>
              <div class="available__compare-current-wrapper">
                <svg class="available__compare-icon">
                  <use xlink:href="img/icons/icons.svg#icon-check"></use>
                </svg>
              </div>
            </div>
          </div>
          <div class="available__table-item">
            <button
              data-modal-btn="buyer-2"
              class="btn-clear available__table-wh"
            >
              Получить КП
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="available__tab-nav">
      <button data-tab-btn="a-1" class="btn-clear available__tab-btn _active">
        8/256
      </button>
      <button data-tab-btn="a-2" class="btn-clear available__tab-btn">
        16/512
      </button>
      <button data-tab-btn="a-3" class="btn-clear available__tab-btn">
        8/256
      </button>
      <button data-tab-btn="a-4" class="btn-clear available__tab-btn">
        16/512
      </button>
      <button data-tab-btn="a-5" class="btn-clear available__tab-btn">
        8/256
      </button>
      <button data-tab-btn="a-6" class="btn-clear available__tab-btn">
        16/512
      </button>
    </div>
    <div data-tab="a-1" class="_open">
      <div class="available__tab-row">
        <span>Оперативная память (RAM)</span>
        <span>8 ГБ</span>
      </div>
      <div class="available__tab-row">
        <span>Жесткий диск (SSD)</span>
        <span>256 ГБ</span>
      </div>
      <div class="available__tab-row">
        <span>Видеокарта</span>
        <span>Intel UHD Graphics</span>
      </div>
      <div class="available__tab-row">
        <span>Процессор</span>
        <span>Intel Processor N100</span>
      </div>
      <div class="available__tab-bottom">
        <div class="available__tab-price">
          <a
            href="#"
            target="_blank"
            class="btn available__tab-primary _primary"
          >
            <span class="available__tab-price-title">Цена на озон</span>
            <span class="available__tab-price-value">17 994 р. </span>
          </a>
          <button
            data-modal-btn="buyer-2"
            class="btn-clear available__btn-buyer"
          >
            Получить оптовое КП
          </button>
        </div>
        <button class="btn-clear available__compare">
          <span>Сравнить</span>
          <div class="available__compare-wrapper">
            <svg class="available__compare-icon">
              <use xlink:href="img/icons/icons.svg#icon-chart"></use>
            </svg>
          </div>
        </button>
      </div>
    </div>
    <div data-tab="a-2">
      <div class="available__tab-row">
        <span>Оперативная память (RAM)</span>
        <span>16 ГБ</span>
      </div>
      <div class="available__tab-row">
        <span>Жесткий диск (SSD)</span>
        <span>256 ГБ</span>
      </div>
      <div class="available__tab-row">
        <span>Видеокарта</span>
        <span>Intel UHD Graphics</span>
      </div>
      <div class="available__tab-row">
        <span>Процессор</span>
        <span>Intel Processor N100</span>
      </div>
      <div class="available__tab-bottom">
        <div class="available__tab-price">
          <a
            href="#"
            target="_blank"
            class="btn available__tab-primary _primary"
          >
            <span class="available__tab-price-title">Цена на озон</span>
            <span class="available__tab-price-value">17 994 р. </span>
          </a>
          <button
            data-modal-btn="buyer-2"
            class="btn-clear available__btn-buyer"
          >
            Получить оптовое КП
          </button>
        </div>
        <button class="btn-clear available__compare">
          <span>Сравнить</span>
          <div class="available__compare-wrapper">
            <svg class="available__compare-icon">
              <use xlink:href="img/icons/icons.svg#icon-chart"></use>
            </svg>
          </div>
        </button>
      </div>
    </div>
    <div data-tab="a-3">
      <div class="available__tab-row">
        <span>Оперативная память (RAM)</span>
        <span>8 ГБ</span>
      </div>
      <div class="available__tab-row">
        <span>Жесткий диск (SSD)</span>
        <span>256 ГБ</span>
      </div>
      <div class="available__tab-row">
        <span>Видеокарта</span>
        <span>Intel UHD Graphics</span>
      </div>
      <div class="available__tab-row">
        <span>Процессор</span>
        <span>Intel Processor N100</span>
      </div>
      <div class="available__tab-bottom">
        <div class="available__tab-price">
          <a
            href="#"
            target="_blank"
            class="btn available__tab-primary _primary"
          >
            <span class="available__tab-price-title">Цена на озон</span>
            <span class="available__tab-price-value">17 994 р. </span>
          </a>
          <button
            data-modal-btn="buyer-2"
            class="btn-clear available__btn-buyer"
          >
            Получить оптовое КП
          </button>
        </div>
        <button class="btn-clear available__compare">
          <span>Сравнить</span>
          <div class="available__compare-wrapper">
            <svg class="available__compare-icon">
              <use xlink:href="img/icons/icons.svg#icon-chart"></use>
            </svg>
          </div>
        </button>
      </div>
    </div>
    <div data-tab="a-4">
      <div class="available__tab-row">
        <span>Оперативная память (RAM)</span>
        <span>16 ГБ</span>
      </div>
      <div class="available__tab-row">
        <span>Жесткий диск (SSD)</span>
        <span>256 ГБ</span>
      </div>
      <div class="available__tab-row">
        <span>Видеокарта</span>
        <span>Intel UHD Graphics</span>
      </div>
      <div class="available__tab-row">
        <span>Процессор</span>
        <span>Intel Processor N100</span>
      </div>
      <div class="available__tab-bottom">
        <div class="available__tab-price">
          <a
            href="#"
            target="_blank"
            class="btn available__tab-primary _primary"
          >
            <span class="available__tab-price-title">Цена на озон</span>
            <span class="available__tab-price-value">17 994 р. </span>
          </a>
          <button
            data-modal-btn="buyer-2"
            class="btn-clear available__btn-buyer"
          >
            Получить оптовое КП
          </button>
        </div>
        <button class="btn-clear available__compare">
          <span>Сравнить</span>
          <div class="available__compare-wrapper">
            <svg class="available__compare-icon">
              <use xlink:href="img/icons/icons.svg#icon-chart"></use>
            </svg>
          </div>
        </button>
      </div>
    </div>
    <div data-tab="a-5">
      <div class="available__tab-row">
        <span>Оперативная память (RAM)</span>
        <span>8 ГБ</span>
      </div>
      <div class="available__tab-row">
        <span>Жесткий диск (SSD)</span>
        <span>256 ГБ</span>
      </div>
      <div class="available__tab-row">
        <span>Видеокарта</span>
        <span>Intel UHD Graphics</span>
      </div>
      <div class="available__tab-row">
        <span>Процессор</span>
        <span>Intel Processor N100</span>
      </div>
      <div class="available__tab-bottom">
        <div class="available__tab-price">
          <a
            href="#"
            target="_blank"
            class="btn available__tab-primary _primary"
          >
            <span class="available__tab-price-title">Цена на озон</span>
            <span class="available__tab-price-value">17 994 р. </span>
          </a>
          <button
            data-modal-btn="buyer-2"
            class="btn-clear available__btn-buyer"
          >
            Получить оптовое КП
          </button>
        </div>
        <button class="btn-clear available__compare">
          <span>Сравнить</span>
          <div class="available__compare-wrapper">
            <svg class="available__compare-icon">
              <use xlink:href="img/icons/icons.svg#icon-chart"></use>
            </svg>
          </div>
        </button>
      </div>
    </div>
    <div data-tab="a-6">
      <div class="available__tab-row">
        <span>Оперативная память (RAM)</span>
        <span>16 ГБ</span>
      </div>
      <div class="available__tab-row">
        <span>Жесткий диск (SSD)</span>
        <span>256 ГБ</span>
      </div>
      <div class="available__tab-row">
        <span>Видеокарта</span>
        <span>Intel UHD Graphics</span>
      </div>
      <div class="available__tab-row">
        <span>Процессор</span>
        <span>Intel Processor N100</span>
      </div>
      <div class="available__tab-bottom">
        <div class="available__tab-price">
          <a
            href="#"
            target="_blank"
            class="btn available__tab-primary _primary"
          >
            <span class="available__tab-price-title">Цена на озон</span>
            <span class="available__tab-price-value">17 994 р. </span>
          </a>
          <button
            data-modal-btn="buyer-2"
            class="btn-clear available__btn-buyer"
          >
            Получить оптовое КП
          </button>
        </div>
        <button class="btn-clear available__compare">
          <span>Сравнить</span>
          <div class="available__compare-wrapper">
            <svg class="available__compare-icon">
              <use xlink:href="img/icons/icons.svg#icon-chart"></use>
            </svg>
          </div>
        </button>
      </div>
    </div>
  </div>
</section>
