<section class="available">
  <div class="container">
    <div class="available__line">
      <svg class="available__line-heart">
        <use xlink:href='img/icons/icons.svg#icon-heart'></use>
      </svg>
      <h5 class="available__line-title">
        У каждого <br />
        мини-ПК JuniBox:
      </h5>
      <ul class="list available__line-list">
        <li class="available__line-item">
          <img
            src="@img/time-fast.svg"
            alt="icon"
            class="available__line-item-icon"
          />
          <h6 class="available__line-item-title">Топ-сборка</h6>
          <p class="available__line-item-content">
            устройства служат долго <br />
            верой и правдой
          </p>
        </li>
        <li class="available__line-item">
          <img
            src="@img/time-fast.svg"
            alt="icon"
            class="available__line-item-icon"
          />
          <h6 class="available__line-item-title">30 дней</h6>
          <p class="available__line-item-content">
            увеличенный срок возврата без объяснения причин
          </p>
        </li>
        <li class="available__line-item">
          <img
            src="@img/time-fast.svg"
            alt="icon"
            class="available__line-item-icon"
          />
          <h6 class="available__line-item-title">За 5 минут</h6>
          <p class="available__line-item-content">
            запуск без установки <br />
            и знаний
          </p>
        </li>
        <li class="available__line-item">
          <img
            src="@img/time-fast.svg"
            alt="icon"
            class="available__line-item-icon"
          />
          <h6 class="available__line-item-title">За 5 минут</h6>
          <p class="available__line-item-content">
            запуск без установки <br />
            и знаний
          </p>
        </li>
        <li class="available__line-item">
          <img
            src="@img/time-fast.svg"
            alt="icon"
            class="available__line-item-icon"
          />
          <h6 class="available__line-item-title">За 5 минут</h6>
          <p class="available__line-item-content">
            запуск без установки <br />
            и знаний
          </p>
        </li>
        <li class="available__line-item">
          <img
            src="@img/time-fast.svg"
            alt="icon"
            class="available__line-item-icon"
          />
          <h6 class="available__line-item-title">За 5 минут</h6>
          <p class="available__line-item-content">
            запуск без установки <br />
            и знаний
          </p>
        </li>
      </ul>
      <a href="#" class="available__line-btn">
        <svg class="available__line-icon">
          <use xlink:href="img/icons/icons.svg#icon-search-heart"></use>
        </svg>
        <span>Смотреть больше преимуществ</span>
      </a>
    </div>
  </div>
</section>
