<section class="guarantee-important">
  <div class="container guarantee-important__container">
    <div class="guarantee-important__head">
      <img
        src="@img/logo-white.svg"
        alt="logo"
        class="guarantee-important__logo"
      />
      <h2 class="title-2 guarantee-important__title">
        Самое важное — мы всегда на вашей стороне.
      </h2>
      <img src="@img/heart.svg" alt="icon" class="guarantee-important__heart" />
    </div>
    <div class="guarantee-important__info">
      <div class="guarantee-important__item">
        <p>
          С каждым мини-ПК <br />
          вы получаете гарантийный талон
        </p>
      </div>
      <div class="guarantee-important__item">
        <h4>Гарантия на мини-ПК — 1 год</h4>
        <p>
          Это если понадобится диагностика, ремонт. <br />
          Однако <a href="#">обмен и возврат</a> без объяснения <br />
          причин возможны в течение 30 дней.
        </p>
      </div>
      <div class="guarantee-important__item">
        <h4>Дата начала гарантии</h4>
        <p>
          дата получения мини-ПК в пункте выдачи <br />
          Озон, Вайлдберриз и др.
        </p>
      </div>
      <div class="guarantee-important__item">
        <h4>Если вы снимали крышку</h4>
        <p>
          и даже если добавляли плашки <br />
          оперативной памяти, меняли жесткий диск —
          <strong>гарантия НЕ исчезла</strong>, а по-прежнему действует.
        </p>
      </div>
      <div class="guarantee-important__item">
        Проходить “9 кругов ада” для подтверждения гарантийного случая не надо:
        <br />
        <strong>просто опишите проблему</strong> в свободной форме. Мы уточним
        детали и скажем, что делать
      </div>
    </div>
  </div>
</section>
