<section class="guarantee">
  <div class="container">
    <h1 class="title-2 guarantee__title">
      Настоящая гарантия, которая защищает ВАС
    </h1>
    <div class="guarantee__social">
      <p class="guarantee__social-content">
        Гарантийный случай? <br />
        Пишите в удобный мессенджер:
      </p>
      <ul class="list guarantee__social-list">
        <li>
          <a href="#" target="_blank">
            <img src="@img/wh.svg" alt="icon" class="guarantee__social-icon" />
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img src="@img/tg.svg" alt="icon" class="guarantee__social-icon" />
          </a>
        </li>
      </ul>
    </div>
    <div class="guarantee__rect">
      <div class="guarantee__primary">
        <span class="guarantee__primary-number">1,98%</span>
        <p class="guarantee__primary-content">
          У Junibox самый низкий процент брака в отрасли
        </p>
      </div>
      <p class="guarantee__content">
        Но если именно вам пришел такой экземпляр, не переживайте, всё решим,
        поправим, вы останетесь довольны.
      </p>
    </div>
  </div>
  <div class="guarantee__decor">
    <div class="guarantee__decor-body">
      <img src="@img/guarantee.png" alt="image" class="guarantee__decor-img" />
    </div>
  </div>
</section>
