<header class="header">
  <div class="header__top">
    <div class="container header__top-container">
      <ul class="list header__soc">
        <li>
          <a href="#" target="_blank" class="header__soc-btn">
            <svg class="header__soc-icon">
              <use xlink:href="img/icons/icons.svg#icon-tg"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" target="_blank" class="header__soc-btn">
            <svg class="header__soc-icon">
              <use xlink:href="img/icons/icons.svg#icon-wh"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" target="_blank" class="header__soc-btn">
            <svg class="header__soc-icon">
              <use xlink:href="img/icons/icons.svg#icon-mail"></use>
            </svg>
          </a>
        </li>
      </ul>
      <a href="/" class="header__logo">
        <img src="@img/logo.svg" alt="logo" class="header__logo-img" />
      </a>
      <div class="header__contacts">
        <a href="mailto:info@junibox.ru" class="header__mail"
          >info@junibox.ru</a
        >
        <a href="tel:88005553535" class="header__tel">8 (800) 555-35-35</a>
      </div>
    </div>
  </div>
  <div class="container">
    <nav class="header__main">
      <ul class="list header__menu-main">
        <li class="_mobile">
          <a href="#" class="header__menu-btn">
            <svg class="header__menu-icon">
              <use xlink:href="img/icons/icons.svg#icon-home"></use>
            </svg>
            <span class="header__mobile-title">Главная</span>
          </a>
        </li>
        <li>
          <button id="catalog-btn" class="btn-clear header__menu-btn">
            <svg class="header__menu-icon">
              <use xlink:href="img/icons/icons.svg#icon-catalog"></use>
            </svg>
            <div class="header__menu-title">Каталог товаров</div>
            <span class="header__mobile-title">Каталог</span>
          </button>
        </li>
        <li class="_mobile">
          <a href="#" class="header__menu-btn">
            <svg class="header__menu-icon">
              <use xlink:href="img/icons/icons.svg#icon-selection"></use>
            </svg>
            <span class="header__mobile-title">Подбор</span>
          </a>
        </li>
        <li class="_mobile">
          <a href="#" class="header__menu-btn">
            <svg class="header__menu-icon">
              <use xlink:href="img/icons/icons.svg#icon-lines"></use>
            </svg>
            <span class="header__menu-number">5</span>
            <span class="header__mobile-title">Сравнение</span>
          </a>
        </li>
        <li class="_mobile">
          <a href="#" class="header__menu-btn">
            <svg class="header__menu-icon">
              <use xlink:href="img/icons/icons.svg#icon-points"></use>
            </svg>
            <span class="header__mobile-title">ещё</span>
          </a>
        </li>
      </ul>
      <ul class="list header__list">
        <li>
          <a href="#">Подбор</a>
        </li>
        <li>
          <a href="#">Гарантия</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown__btn">
            <span>Поддержка</span>
            <svg class="dropdown__arrow">
              <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
          </a>
          <div class="dropdown__item">
            
          </div>
        </li>
        <li>
          <a href="#">О Junibox</a>
        </li>
      </ul>
			<a href="#" class="header__clients">
				<span>Корпоративным клиентам</span>
				<div class="header__clients-wrapper">
					<svg class="header__clients-arrow">
						<use xlink:href='img/icons/icons.svg#icon-arrows'></use>
					</svg>
				</div>
			</a>
    </nav>
  </div>
</header>
