<section class="help">
  <div class="container">
    <img src="@img/tel-opacity.png" alt="image" class="help__tel-opacity" />
    <img src="@img/tel.png" alt="image" class="help__tel" />
    <div class="help__item _heart">
      <span class="help__subtitle">А еще</span>
      <h2 class="title-2 help__title">
        дружелюбная <br />
        техподдержка <br />
        всегда на связи
      </h2>
      <p class="help__top-content">
        Никаких обращений <br />
        и заполнения лишних форм. <br />
        <br />
        Просто пишите в удобный мессенджер — и мы ответим в течение 5-10 минут.
      </p>
      <ul class="list help__social">
        <li>
          <a href="#" target="_blank" class="help__social-btn">
            <img src="@img/wh.svg" alt="icon" class="help__social-icon" />
          </a>
        </li>
        <li>
          <a href="#" target="_blank" class="help__social-btn">
            <img src="@img/tg.svg" alt="icon" class="help__social-icon" />
          </a>
        </li>
      </ul>
    </div>
    <div class="help__item-wrapper">
      <img src="@img/operator.png" alt="image" class="help__operator" />
      <div class="help__item">
        <img src="@img/marks.svg" alt="icon" class="help__item-marks" />
        <p class="help__bottom-content">
          Мы работаем, чтобы выбор, покупка <br />
          и использование ПК были простыми, <br />
          <span>словно общение с хорошим приятелем.</span>
        </p>
        <p class="help__subcontent">
          И чтобы во всем этом у вас не возникало <br />
          ни малейшей тени сомнения.
        </p>
      </div>
    </div>
  </div>
</section>
