<section class="intro-catalog">
  <div class="container">
    <picture class="intro-catalog__bg">
      <source srcset="@img/intro-catalog-mob.jpg" media="(max-width: 743px)" />
      <img src="@img/intro-catalog.jpg" alt="image" />
    </picture>
    <div class="intro-catalog__body">
      <img src="@img/logo-white.svg" alt="logo" class="intro-catalog__logo" />
      <h1 class="intro-catalog__title">Каталог товаров</h1>
      <p class="intro-catalog__content">
        У нас всего около десятка моделей с разными конфигурациями.
      </p>
    </div>
  </div>
</section>
