<section class="intro-clients video-sect">
  <div class="container video-sect__container">
    <div class="video-sect__wrapper">
      <video
        src="files/video.mp4"
        loop="true"
        muted
        autoplay
        class="video-sect__video"
      ></video>
      <div class="video-sect__body">
        <img src="@img/logo-gray.svg" alt="logo" class="video-sect__logo" />
        <h5 class="title-2 video-sect__body-title">Российский производитель</h5>
        <ul class="list video-sect__list">
          <li class="video-sect__item">
            Поставляем по оптовым ценам <br />
            и специальным условиям <br />
            для каждого клиента
          </li>
          <li class="video-sect__item">Доставка из наличия за 2 дня</li>
          <li class="video-sect__item">
            Или произведем по вашему ТЗ — и партия будет у вас через 40-50 дней
          </li>
        </ul>
      </div>
      <div class="video-sect__info">
        <a href="files/video.mp4" data-fancybox="video" class="btn-video _primary">
          <svg class="btn-video__icon">
            <use xlink:href="img/icons/icons.svg#icon-video"></use>
          </svg>
        </a>
        <span class="video-sect__info-title">Реальное видео</span>
        <p class="video-sect__content">
          снятое на наших заводах - изготовителях
        </p>
      </div>
    </div>
  </div>
</section>
