<section class="obvious">
  <div class="container">
    <h2 class="title-2-s obvious__title">
      И конечно же <br />
      очевидные преимущества <span>всех мини-ПК</span>
      <div class="obvious__title-sub">
        Но это не новость
        <svg class="obvious__title-icon">
          <use xlink:href="img/icons/icons.svg#icon-smile"></use>
        </svg>
      </div>
    </h2>
    <div class="swiper obvious__slider">
      <div class="swiper-wrapper">
        <article class="swiper-slide">
          <img src="@img/obvious.jpg" alt="image" class="obvious__slide-img" />
          <h5 class="obvious__slide-title">Компактный размер</h5>
          <p class="obvious__slide-content">
            Помещаются на ладони, <br />
            экономят уйму места, больше никаких “шкафов” (системных блоков).
          </p>
        </article>
        <article class="swiper-slide">
          <img src="@img/obvious.jpg" alt="image" class="obvious__slide-img" />
          <h5 class="obvious__slide-title">Компактный размер</h5>
          <p class="obvious__slide-content">
            Помещаются на ладони, <br />
            экономят уйму места, больше никаких “шкафов” (системных блоков).
          </p>
        </article>
      </div>
    </div>
  </div>
</section>
