<section class="production">
  <div class="container">
    <img src="@img/logo-white.svg" alt="logo" class="production__logo" />
    <h3 class="title-2 production__subtitle">Реально производитель</h3>
    <p class="production__content">
      Мы взяли на себя разработку, производство, логистику и все договорные
      отношения так, чтобы вам не приходилось заботиться об этом.
      <br />
      <br />
      <span>Мы — первые руки.</span>
    </p>
  </div>
  <div class="production__item">
    <div class="production__wrapper-video">
      <video
        src="files/video.mp4"
        loop="true"
        muted
        autoplay
        class="production__video"
      ></video>
      <div class="production__video-info">
        <a href="files/video.mp4" data-fancybox class="btn-video _primary">
          <svg class="btn-video__icon">
            <use xlink:href="img/icons/icons.svg#icon-play"></use>
          </svg>
        </a>
        <span class="production__video-title">Смотреть реальное видео</span>
        <p class="production__video-content">
          снятое на наших заводах - изготовителях
        </p>
      </div>
    </div>
    <ul class="list production__list-check">
      <li class="production__item-check">
        <svg class="production__item-icon">
          <use xlink:href="img/icons/icons.svg#icon-check"></use>
        </svg>
        <div>
          <h6 class="production__check-title">Полный цикл</h6>
          <p class="production__item-content">от разработки до техподдержки</p>
        </div>
      </li>
      <li class="production__item-check">
        <svg class="production__item-icon">
          <use xlink:href="img/icons/icons.svg#icon-check"></use>
        </svg>
        <div>
          <h6 class="production__check-title">Полный цикл</h6>
          <p class="production__item-content">от разработки до техподдержки</p>
        </div>
      </li>
      <li class="production__item-check">
        <svg class="production__item-icon">
          <use xlink:href="img/icons/icons.svg#icon-check"></use>
        </svg>
        <div>
          <h6 class="production__check-title">Полный цикл</h6>
          <p class="production__item-content">от разработки до техподдержки</p>
        </div>
      </li>
      <li class="production__item-check">
        <svg class="production__item-icon">
          <use xlink:href="img/icons/icons.svg#icon-check"></use>
        </svg>
        <div>
          <h6 class="production__check-title">Полный цикл</h6>
          <p class="production__item-content">от разработки до техподдержки</p>
        </div>
      </li>
      <li class="production__item-check">
        <svg class="production__item-icon">
          <use xlink:href="img/icons/icons.svg#icon-check"></use>
        </svg>
        <div>
          <h6 class="production__check-title">Полный цикл</h6>
          <p class="production__item-content">от разработки до техподдержки</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="production__item">
    <div class="production__item-body">
      <h2 class="title-2 production__item-title">Сборка по уму и на совесть</h2>
      <ul class="list production__item-list">
        <li class="production__item-row">
          <h6 class="production__row-title">
            Собственный <br />
            конструкторский отдел
          </h6>
          <p class="production__item-content">
            Мы не просто “запихиваем” в корпус детали: разработчики просчитывают
            каждую модель и любые модернизации с нуля.
          </p>
        </li>
        <li class="production__item-row">
          <h6 class="production__row-title">
            Совместимо <br />
            с отечественными ОС и ПО
          </h6>
          <p class="production__item-content">
            ОС Astra Linux, Alt Linux, Lotus Linux и другие, а также ПО для
            защиты данных (ViPNet SafeBoot, ПАК Соболь)
          </p>
        </li>
        <li class="production__item-row">
          <h6 class="production__row-title">
            Тщательное <br />
            выходное тестирование
          </h6>
          <p class="production__item-content">
            А также регулярные тесты на нагрузку каждой модели
          </p>
        </li>
      </ul>
    </div>
    <div class="production__wrapper-video">
      <video
        src="files/video.mp4"
        loop="true"
        muted
        autoplay
        class="production__video"
      ></video>
      <div class="production__video-info">
        <a href="files/video.mp4" data-fancybox class="btn-video _primary">
          <svg class="btn-video__icon">
            <use xlink:href="img/icons/icons.svg#icon-play"></use>
          </svg>
        </a>
        <span class="production__video-title">Детальный процесс</span>
        <p class="production__video-content">
          изготовления комплектующих Junibox
        </p>
      </div>
    </div>
  </div>
</section>
