<section class="product-info">
  <div class="container tab-container">
    <div class="product-info__nav">
      <button
        data-tab-btn="specification"
        class="btn-clear product-info__btn _active"
      >
        Спецификация
      </button>
      <button data-tab-btn="guarantee" class="btn-clear product-info__btn">
        Гарантия
      </button>
      <button data-tab-btn="set" class="btn-clear product-info__btn">
        Что в комплекте
      </button>
      <button data-tab-btn="documentation" class="btn-clear product-info__btn">
        Документация
      </button>
      <button data-tab-btn="delivery" class="btn-clear product-info__btn">
        Доставка
      </button>
      <button data-tab-btn="service" class="btn-clear product-info__btn">
        Сервис
      </button>
    </div>
    <div data-tab="specification" class="_open">
      <ul class="list product-info__specifications _hidden">
        <li>
          <span>Оперативная память (RAM)</span>
          <span>8 / 16 ГБ</span>
        </li>
        <li>
          <span>3.5 мм</span>
          <span>1</span>
        </li>
        <li>
          <span>Оперативная память (RAM)</span>
          <span>8 / 16 ГБ</span>
        </li>
        <li>
          <span>3.5 мм</span>
          <span>1</span>
        </li>
        <li>
          <span>Оперативная память (RAM)</span>
          <span>8 / 16 ГБ</span>
        </li>
        <li>
          <span>3.5 мм</span>
          <span>1</span>
        </li>
        <li>
          <span>Оперативная память (RAM)</span>
          <span>8 / 16 ГБ</span>
        </li>
        <li>
          <span>3.5 мм</span>
          <span>1</span>
        </li>
        <li>
          <span>Оперативная память (RAM)</span>
          <span>8 / 16 ГБ</span>
        </li>
        <li>
          <span>3.5 мм</span>
          <span>1</span>
        </li>
        <li>
          <span>Оперативная память (RAM)</span>
          <span>8 / 16 ГБ</span>
        </li>
        <li>
          <span>3.5 мм</span>
          <span>1</span>
        </li>
        <li>
          <span>Оперативная память (RAM)</span>
          <span>8 / 16 ГБ</span>
        </li>
        <li>
          <span>3.5 мм</span>
          <span>1</span>
        </li>
        <li>
          <span>Оперативная память (RAM)</span>
          <span>8 / 16 ГБ</span>
        </li>
        <li>
          <span>3.5 мм</span>
          <span>1</span>
        </li>
        <li>
          <span>Оперативная память (RAM)</span>
          <span>8 / 16 ГБ</span>
        </li>
        <li>
          <span>3.5 мм</span>
          <span>1</span>
        </li>
        <li>
          <span>Оперативная память (RAM)</span>
          <span>8 / 16 ГБ</span>
        </li>
        <li>
          <span>3.5 мм</span>
          <span>1</span>
        </li>
        <li>
          <span>Оперативная память (RAM)</span>
          <span>8 / 16 ГБ</span>
        </li>
        <li>
          <span>3.5 мм</span>
          <span>1</span>
        </li>
      </ul>
      <button class="btn _primary product-info__specifications-btn">
        Развернуть все характеристики
      </button>
    </div>
  </div>
</section>
