<section class="product-offer">
  <div class="container">
    <div class="product-offer__card">
      <img
        src="@img/product-offer.jpg"
        alt="image"
        class="product-offer__img"
      />
      <div class="product-offer__info">
        <img src="@img/logo.svg" alt="" class="product-offer__logo" />
        <h5 class="product-offer__title">
          JuniBox <strong>Q-ube Pro 8/256</strong> на Озон за 17 994 р.
        </h5>
      </div>
      <a href="#" target="_blank" class="btn _primary product-offer__btn"
        >Купить на Озон</a
      >
    </div>
    <div class="product-offer__mobile">
      <div class="product-offer__wrapper">
        <a href="#" target="_blank" class="btn _primary product-offer__btn"
          >Купить на озон</a
        >
        <div>
          <span class="product-offer__price-title">Сейчас в рознице</span>
          <span class="product-offer__price">17 994 р. </span>
        </div>
      </div>
      <button class="btn-clear product-offer__compare">
        <span>Сравнить</span>
        <div class="product-offer__compare-wrapper">
          <svg class="product-offer__compare-icon">
            <use xlink:href='img/icons/icons.svg#icon-chart'></use>
          </svg>
        </div>
      </button>
    </div>
  </div>
</section>
