<section class="product-info" data-da=".main,479,9">
  <div class="container tab-container">
    <div class="product-info__nav">
      <button
        data-tab-btn="specification"
        class="btn-clear product-info__btn _active"
      >
        Спецификация
      </button>
      <button data-tab-btn="guarantee" class="btn-clear product-info__btn">
        Гарантия
      </button>
      <button data-tab-btn="set" class="btn-clear product-info__btn">
        Что в комплекте
      </button>
      <button data-tab-btn="documentation" class="btn-clear product-info__btn">
        Документация
      </button>
      <button data-tab-btn="delivery" class="btn-clear product-info__btn">
        Доставка
      </button>
      <button data-tab-btn="service" class="btn-clear product-info__btn">
        Сервис
      </button>
    </div>
    <div data-tab="specification" class="_open">
      <ul class="list product-info__specifications _hidden">
        <li>
          <span>Оперативная память (RAM)</span>
          <span>8 / 16 ГБ</span>
        </li>
        <li>
          <span>3.5 мм</span>
          <span>1</span>
        </li>
        <li>
          <span>Оперативная память (RAM)</span>
          <span>8 / 16 ГБ</span>
        </li>
        <li>
          <span>3.5 мм</span>
          <span>1</span>
        </li>
        <li>
          <span>Оперативная память (RAM)</span>
          <span>8 / 16 ГБ</span>
        </li>
        <li>
          <span>3.5 мм</span>
          <span>1</span>
        </li>
        <li>
          <span>Оперативная память (RAM)</span>
          <span>8 / 16 ГБ</span>
        </li>
        <li>
          <span>3.5 мм</span>
          <span>1</span>
        </li>
        <li>
          <span>Оперативная память (RAM)</span>
          <span>8 / 16 ГБ</span>
        </li>
        <li>
          <span>3.5 мм</span>
          <span>1</span>
        </li>
        <li>
          <span>Оперативная память (RAM)</span>
          <span>8 / 16 ГБ</span>
        </li>
        <li>
          <span>3.5 мм</span>
          <span>1</span>
        </li>
        <li>
          <span>Оперативная память (RAM)</span>
          <span>8 / 16 ГБ</span>
        </li>
        <li>
          <span>3.5 мм</span>
          <span>1</span>
        </li>
        <li>
          <span>Оперативная память (RAM)</span>
          <span>8 / 16 ГБ</span>
        </li>
        <li>
          <span>3.5 мм</span>
          <span>1</span>
        </li>
        <li>
          <span>Оперативная память (RAM)</span>
          <span>8 / 16 ГБ</span>
        </li>
        <li>
          <span>3.5 мм</span>
          <span>1</span>
        </li>
        <li>
          <span>Оперативная память (RAM)</span>
          <span>8 / 16 ГБ</span>
        </li>
        <li>
          <span>3.5 мм</span>
          <span>1</span>
        </li>
        <li>
          <span>Оперативная память (RAM)</span>
          <span>8 / 16 ГБ</span>
        </li>
        <li>
          <span>3.5 мм</span>
          <span>1</span>
        </li>
      </ul>
      <button class="btn _primary product-info__specifications-btn">
        Развернуть все характеристики
      </button>
    </div>
    <div data-tab="guarantee">
      <div class="product-info__guarantee-wrapper">
        <div class="product-info__guarantee-info">
          <h5 class="product-info__guarantee-title">1 год гарантии</h5>
          <p class="product-info__guarantee-content">на все мини-ПК Junibox.</p>
        </div>
        <a href="#" class="product-info__guarantee-btn"
          >Подробнее об условиях здесь</a
        >
      </div>
    </div>
    <div data-tab="set">
      <ul class="list product-info__set-list">
        <li>
          <div class="product-info__set-number">1х</div>
          <span>Мини-ПК</span>
        </li>
        <li>
          <div class="product-info__set-number">1х</div>
          <span>HDMI кабель</span>
        </li>
        <li>
          <div class="product-info__set-number">1х</div>
          <span>Крепеж Vesa 10х10</span>
        </li>
        <li>
          <div class="product-info__set-number">1х</div>
          <span>Инструкция на русском языке</span>
        </li>
        <li>
          <div class="product-info__set-number">1х</div>
          <span>Гарантийный талон</span>
        </li>
      </ul>
    </div>
    <div data-tab="documentation">
      <ul class="list product-info__documentation-list">
        <li>
          <a href="#" download="">
            <svg class="product-info__documentation-icon">
              <use xlink:href="img/icons/icons.svg#icon-file-download"></use>
            </svg>
            <div>
              Инструкция <br />
              на русском яыке
            </div>
          </a>
        </li>
        <li>
          <a href="#" download="">
            <svg class="product-info__documentation-icon">
              <use xlink:href="img/icons/icons.svg#icon-file-download"></use>
            </svg>
            <div>
              Сертификат <br />
              соответствия
            </div>
          </a>
        </li>
        <li>
          <a href="#" download="">
            <svg class="product-info__documentation-icon">
              <use xlink:href="img/icons/icons.svg#icon-file-download"></use>
            </svg>
            <div>
              Подробная <br />
              спецификация
            </div>
          </a>
        </li>
        <li>
          <a href="#" download="">
            <svg class="product-info__documentation-icon">
              <use xlink:href="img/icons/icons.svg#icon-file-download"></use>
            </svg>
            <div>
              Протокол испытаний <br />
              <span>Для оптовых покупателей по запросу</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div data-tab="delivery">
      <div class="product-info__delivery-wrapper">
        <article class="product-info__delivery-article">
          <p>
            Доставка розничным покупателям <br />
            осуществляется силами площадок <br />
            Озон, ЯндексМаркет и других.
          </p>
        </article>
        <article class="product-info__delivery-article">
          <p>
            Доставка оптовым покупателям осуществляется <br />
            транспортной компанией со склада до двери <br />
            по акту приемки-передачи.
          </p>
        </article>
      </div>
    </div>
    <div data-tab="service">
      <div class="product-info__service">
        <h3 class="product-info__service-title">
          У нас про надежность и человечность в IT:
        </h3>
        <ul class="list product-info__list">
          <li>
            Простой <a href="#">подбор модели</a>, чтобы не осталось сомнений
          </li>
          <li>
            На все устройства Junibox обмен и возврат 30 дней.
            <a href="#">Подробнее.</a>
          </li>
          <li>
            Необходимое программное обеспечение можно скачать прямо
            <a href="#">на нашем сайте.</a>
          </li>
          <li>
            <a href="#">Техподдержка</a> отвечает в рабочее время в течение 5
            минут прямо в мессенджере.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
