<section class="proposal">
  <picture class="proposal__bg">
    <source srcset="@img/proposal-mob.png" media="(max-width: 743px)" />
    <img src="@img/proposal.png" alt="image" />
  </picture>
  <div class="container">
    <h2 class="title-2 proposal__title">
      Получите четкое честное предложение за 1-2 дня
    </h2>
    <h5 class="proposal__title-list">Просто напишите:</h5>
    <ul class="list proposal__list">
      <li>нужно вам готовое или под заказ</li>
      <li>если готовое, то какие модели</li>
      <li>если под заказ, то прикрепите ТЗ</li>
      <li>примерный объем поставки</li>
      <li>срок</li>
    </ul>
    <p class="proposal__content">
      Быстро ответим, обсудим и подготовим <br />
      коммерческое предложение <br />
      с приятными условиями.
    </p>
    <div class="proposal__item">
      <span class="proposal__item-number">01</span>
      <p class="proposal__item-content">
        <strong>Просто напишите</strong> <br />
        напрямую нашим менеджерам удобным способом:
      </p>
    </div>
    <div class="proposal__rect">
      <p class="proposal__rect-content">
        Да, любым <br />
        удобным способом:
      </p>
      <ul class="list proposal__social">
        <li>
          <a href="#" target="_blank" class="proposal__social-btn">
            <img src="@img/wh.svg" alt="image" class="proposal__social-icon" />
          </a>
        </li>
        <li>
          <a href="#" target="_blank" class="proposal__social-btn">
            <img src="@img/tg.svg" alt="image" class="proposal__social-icon" />
          </a>
        </li>
        <li>
          <a href="#" target="_blank" class="proposal__social-btn">
            <img
              src="@img/mail.svg"
              alt="image"
              class="proposal__social-icon"
            />
          </a>
        </li>
      </ul>
    </div>
    <div class="proposal__item">
      <span class="proposal__item-number">02</span>
      <p class="proposal__item-content">
        <strong>Мы составим КП</strong> <br />
        в течение 1-2 дней.
      </p>
    </div>
    <p class="proposal__content-bottom">
      Или позвоните: <a href="tel:88005553535">8 (800) 555-35-35 </a>
    </p>
  </div>
  <p class="proposal__primary-content">
    Сотрудничество с Junibox — это ваше спокойствие, надежность и выгодные
    условия.
  </p>
</section>
