<section class="realization">
  <div class="container">
    <h2 class="title-2-s realization__title">
      С нами <br />
      легко реализовывать <span>сложные проекты</span>
    </h2>
    <p class="realization__content">
      Соединить вместе всех поставщиков, производителей, запустить процессы и
      реализовать ИТ-решение, постоянные переговоры, недочеты и “кто должен за
      это отвечать?” — это всё непросто.
    </p>
    <h5 class="realization__title-list">
      Мы в Junibox решаем задачи комплексно:
    </h5>
    <ul class="list realization__list">
      <li>приезжаем</li>
      <li>изучаем процессы, вникаем в запрос</li>
      <li>прописываем, оцифровываем и пишем ПО, ТЗ</li>
      <li>
        разрабатываем готовый комплексный продукт (все устройства тоже на нас)
      </li>
      <li>внедряем его</li>
    </ul>
    <p class="realization__list-content">
      От вас потребуется только техспец с вашей стороны.
    </p>
    <div class="realization__rect">
      <div class="realization__rect-head">
        <svg class="realization__rect-icon">
          <use xlink:href="img/icons/icons.svg#icon-warranty"></use>
        </svg>
        <h6 class="realization__rect-title">
          Вы не переживаете. Мы все берем на себя.
        </h6>
      </div>
      <p class="realization__rect-content">
        А еще у нас быстро, без бюрократии и долгих согласований: напишите
        менеджеру, опишите задачу — и поехали.
      </p>
    </div>
  </div>
  <div class="realization__video-wrapper">
    <div class="realization__video-inside">
      <video
        src="files/video.mp4"
        loop="true"
        muted
        autoplay
        class="realization__video"
      ></video>
    </div>
  </div>
</section>
