<section class="rec">
  <div class="container rec__container">
    <div class="rec__info">
      <p class="rec__question">Нет нужной конфигурации?</p>
      <h2 class="title-2 rec__title">Посмотрите похожие модели:</h2>
      <p class="rec__content">
        Сложно разобраться во всем этом? <br />
        Можно подобрать исходя из своих задач
      </p>
      <a href="#" class="btn _primary">
        <svg class="btn__icon">
          <use xlink:href="img/icons/icons.svg#icon-list"></use>
        </svg>
        <span>Простой онлайн-подбор:</span>
      </a>
    </div>
    <div class="swiper rec__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide product">
          <a href="#" class="product__link"></a>
          <div class="product__head">
            <span class="product__tag">Хит продаж!</span>
            <button class="btn-clear product__compare">
              <span>Сравнить</span>
              <div class="product__compare-btn">
                <svg class="product__icon">
                  <use xlink:href="img/icons/icons.svg#icon-chart"></use>
                </svg>
              </div>
            </button>
          </div>
          <h5 class="product__title">Модель X4D</h5>
          <ul class="list product__list">
            <li>RAM: 16GB</li>
            <li>SSD: 512GB</li>
          </ul>
          <a href="#" target="_blank" class="product__price">
            <span class="product__price-content"
              >Купить <br />
              на Озон</span
            >
            <span class="product__price-primary">17 040 р.</span>
          </a>
          <img src="@img/product-3.jpg" alt="" class="product__img" />
        </div>
        <div class="swiper-slide product">
          <a href="#" class="product__link"></a>
          <div class="product__head">
            <span class="product__tag">Хит продаж!</span>
            <button class="btn-clear product__compare">
              <span>Сравнить</span>
              <div class="product__compare-btn">
                <svg class="product__icon">
                  <use xlink:href="img/icons/icons.svg#icon-chart"></use>
                </svg>
              </div>
            </button>
          </div>
          <h5 class="product__title">Модель X4D</h5>
          <ul class="list product__list">
            <li>RAM: 16GB</li>
            <li>SSD: 512GB</li>
          </ul>
          <a href="#" target="_blank" class="product__price">
            <span class="product__price-content"
              >Купить <br />
              на Озон</span
            >
            <span class="product__price-primary">17 040 р.</span>
          </a>
          <img src="@img/product-2.jpg" alt="" class="product__img" />
        </div>
        <div class="swiper-slide product">
          <a href="#" class="product__link"></a>
          <div class="product__head">
            <span class="product__tag">Хит продаж!</span>
            <button class="btn-clear product__compare">
              <span>Сравнить</span>
              <div class="product__compare-btn">
                <svg class="product__icon">
                  <use xlink:href="img/icons/icons.svg#icon-chart"></use>
                </svg>
              </div>
            </button>
          </div>
          <h5 class="product__title">Модель X4D</h5>
          <ul class="list product__list">
            <li>RAM: 16GB</li>
            <li>SSD: 512GB</li>
          </ul>
          <a href="#" target="_blank" class="product__price">
            <span class="product__price-content"
              >Купить <br />
              на Озон</span
            >
            <span class="product__price-primary">17 040 р.</span>
          </a>
          <img src="@img/product-2.jpg" alt="" class="product__img" />
        </div>
        <div class="swiper-slide product">
          <a href="#" class="product__link"></a>
          <div class="product__head">
            <span class="product__tag">Хит продаж!</span>
            <button class="btn-clear product__compare">
              <span>Сравнить</span>
              <div class="product__compare-btn">
                <svg class="product__icon">
                  <use xlink:href="img/icons/icons.svg#icon-chart"></use>
                </svg>
              </div>
            </button>
          </div>
          <h5 class="product__title">Модель X4D</h5>
          <ul class="list product__list">
            <li>RAM: 16GB</li>
            <li>SSD: 512GB</li>
          </ul>
          <a href="#" target="_blank" class="product__price">
            <span class="product__price-content"
              >Купить <br />
              на Озон</span
            >
            <span class="product__price-primary">17 040 р.</span>
          </a>
          <img src="@img/product-2.jpg" alt="" class="product__img" />
        </div>
        <div class="swiper-slide product">
          <a href="#" class="product__link"></a>
          <div class="product__head">
            <span class="product__tag">Хит продаж!</span>
            <button class="btn-clear product__compare">
              <span>Сравнить</span>
              <div class="product__compare-btn">
                <svg class="product__icon">
                  <use xlink:href="img/icons/icons.svg#icon-chart"></use>
                </svg>
              </div>
            </button>
          </div>
          <h5 class="product__title">Модель X4D</h5>
          <ul class="list product__list">
            <li>RAM: 16GB</li>
            <li>SSD: 512GB</li>
          </ul>
          <a href="#" target="_blank" class="product__price">
            <span class="product__price-content"
              >Купить <br />
              на Озон</span
            >
            <span class="product__price-primary">17 040 р.</span>
          </a>
          <img src="@img/product-2.jpg" alt="" class="product__img" />
        </div>
        <div class="swiper-slide product">
          <a href="#" class="product__link"></a>
          <div class="product__head">
            <span class="product__tag">Хит продаж!</span>
            <button class="btn-clear product__compare">
              <span>Сравнить</span>
              <div class="product__compare-btn">
                <svg class="product__icon">
                  <use xlink:href="img/icons/icons.svg#icon-chart"></use>
                </svg>
              </div>
            </button>
          </div>
          <h5 class="product__title">Модель X4D</h5>
          <ul class="list product__list">
            <li>RAM: 16GB</li>
            <li>SSD: 512GB</li>
          </ul>
          <a href="#" target="_blank" class="product__price">
            <span class="product__price-content"
              >Купить <br />
              на Озон</span
            >
            <span class="product__price-primary">17 040 р.</span>
          </a>
          <img src="@img/product-2.jpg" alt="" class="product__img" />
        </div>
      </div>
    </div>
  </div>
</section>
