<section class="selection">
  <picture class="selection__bg">
    <source srcset="@img/section-mob.png" media="(max-width: 480px)" />
    <img src="@img/selection.jpg" alt="image" />
  </picture>
  <div class="container">
    <p class="selection__content">Сложно выбрать по характеристикам?</p>
    <h2 class="title-2-s selection__title">
      Есть простой
      <a href="#">онлайн-подбор</a>
      исходя из задач
    </h2>
    <a href="#" class="btn _primary selection__btn">
      <svg class="btn__icon">
        <use xlink:href="img/icons/icons.svg#icon-list"></use>
      </svg>
      <span>Запустить онлайн-подбор:</span>
      <span>Давайте подберем</span>
    </a>
  </div>
</section>
