<section class="section-other">
  <div class="container">
    <picture class="section-other__decor">
      <source srcset="@img/arm.png" alt="image" media="(max-width:743px)">
      <img src="@img/arm-2.png" alt="image">
    </picture>
    <img src="@img/logo-white.svg" alt="logo" class="section-other__logo" />
    <h2 class="title-2 section-other__title">Дело не в характеристиках</h2>
    <div class="section-other__fact">
      <img src="@img/marks.svg" alt="" class="section-other__fact-icon" />
      <p class="section-other__fact-content">
        <span>Факт:</span> ПК нет смысла выбирать по характеристикам, ведь они
        будут одинаковы у разных производителей.
      </p>
    </div>
    <p class="section-other__content">Мы предлагаем подойти к выбору <span>иначе.</span></p>
  </div>
</section>