<section class="selection-simple">
  <div class="container">
    <div class="selection-simple__head">
      <svg class="selection-simple__head-icon">
        <use xlink:href="img/icons/icons.svg#icon-list"></use>
      </svg>
      <h1 class="title-2 selection-simple__title">Подбор по-простому</h1>
    </div>
    <div class="selection-simple__content">
      <p>
        Мини-ПК подбираем вам для конкретных задач. Просто двигайте ползунок
      </p>
      <p>Просто двигайте ползунок</p>
      <img src="@img/slider.svg" alt="icon" />
      <p>на нужные варианты</p>
    </div>
    <form action="#" class="selection-simple__form">
      <div class="selection-simple__form-wrapper">
        <div class="selection-simple__row">
          <p class="selection-simple__row-content">
            Работа в интернете, развлечения, видео
          </p>
          <div class="selection-simple__row-nav">
            <div class="selection-simple__wrapper-range">
              <div class="selection-simple__slider"></div>
              <input
                type="range"
                value="12.5"
                min="0"
                max="100"
                class="selection-simple__range"
              />
              <input
                type="radio"
                name="work"
                id="work-no"
                class="selection-simple__input-radio"
              />
              <label
                for="work-no"
                class="selection-simple__label-radio"
              ></label>
              <input
                type="radio"
                name="work"
                id="work-social"
                class="selection-simple__input-radio"
              />
              <label
                for="work-social"
                class="selection-simple__label-radio"
              ></label>
              <input
                type="radio"
                name="work"
                id="work-middle"
                class="selection-simple__input-radio"
              />
              <label
                for="work-middle"
                class="selection-simple__label-radio"
              ></label>
              <input
                type="radio"
                name="work"
                id="work-end"
                checked
                class="selection-simple__input-radio"
              />
              <label
                for="work-end"
                class="selection-simple__label-radio"
              ></label>
            </div>
            <ul class="list selection-simple__range-list">
              <li>Вообще нет</li>
              <li>
                В соцсети, <br />
                на Ютуб
              </li>
              <li>
                И работаю много <br />
                с совместным доступом
              </li>
              <li>Открыто 100500 вкладок, параллельные процессы</li>
            </ul>
          </div>
        </div>
        <div class="selection-simple__row">
          <p class="selection-simple__row-content">
            Работа с таблицами <br />
            и большими объемами данных
          </p>
          <div class="selection-simple__row-nav">
            <div class="selection-simple__wrapper-range">
              <div class="selection-simple__slider"></div>
              <input
                type="range"
                value="12.5"
                min="0"
                max="100"
                class="selection-simple__range"
              />
              <input
                type="radio"
                name="table-work"
                id="table-work-no"
                class="selection-simple__input-radio"
              />
              <label
                for="table-work-no"
                class="selection-simple__label-radio"
              ></label>
              <input
                type="radio"
                name="table-work"
                id="table-work-happens"
                class="selection-simple__input-radio"
              />
              <label
                for="table-work-happens"
                class="selection-simple__label-radio"
              ></label>
              <input
                type="radio"
                name="table-work"
                id="table-work-yes"
                class="selection-simple__input-radio"
              />
              <label
                for="table-work-yes"
                class="selection-simple__label-radio"
              ></label>
              <input
                type="radio"
                name="table-work"
                id="table-work-end"
                checked
                class="selection-simple__input-radio"
              />
              <label
                for="table-work-end"
                class="selection-simple__label-radio"
              ></label>
            </div>
            <ul class="list selection-simple__range-list">
              <li>Нет</li>
              <li>Бывает</li>
              <li>Да, работаю</li>
              <li>Постоянно работаю, огромные объемы и расчеты</li>
            </ul>
          </div>
        </div>
        <div class="selection-simple__row">
          <p class="selection-simple__row-content">
            Просмотр <br />
            сериалов / Ютуба
          </p>
          <div class="selection-simple__row-nav">
            <div class="selection-simple__wrapper-range">
              <div class="selection-simple__slider"></div>
              <input
                type="range"
                value="12.5"
                min="0"
                max="100"
                class="selection-simple__range"
              />
              <input
                type="radio"
                name="views-serials"
                id="view-no"
                class="selection-simple__input-radio"
              />
              <label
                for="view-no"
                class="selection-simple__label-radio"
              ></label>
              <input
                type="radio"
                name="views-serials"
                id="view-yes"
                class="selection-simple__input-radio"
              />
              <label
                for="view-yes"
                class="selection-simple__label-radio"
              ></label>
              <input
                type="radio"
                name="views-serials"
                id="view-4k"
                checked
                class="selection-simple__input-radio"
              />
              <label
                for="view-4k"
                class="selection-simple__label-radio"
              ></label>
              <input
                type="radio"
                name="views-serials"
                id="view-work"
                class="selection-simple__input-radio"
              />
              <label
                for="view-work"
                class="selection-simple__label-radio"
              ></label>
            </div>
            <ul class="list selection-simple__range-list">
              <li>Нет</li>
              <li>Бывает</li>
              <li>И обязательно в 4к</li>
              <li>
                И одновременно <br />
                с рабочими задачами
              </li>
            </ul>
          </div>
        </div>
        <div class="selection-simple__row">
          <p class="selection-simple__row-content">
            Качество графики <br />
            важно?
          </p>
          <div class="selection-simple__row-nav">
            <div class="selection-simple__wrapper-range">
              <div class="selection-simple__slider"></div>
              <input
                type="range"
                value="12.5"
                min="0"
                max="100"
                class="selection-simple__range"
              />
              <input
                type="radio"
                name="graphic"
                id="graphic-normal"
                class="selection-simple__input-radio"
              />
              <label
                for="graphic-normal"
                class="selection-simple__label-radio"
              ></label>
              <input
                type="radio"
                name="graphic"
                checked
                id="graphic-middle"
                class="selection-simple__input-radio"
              />
              <label
                for="graphic-middle"
                class="selection-simple__label-radio"
              ></label>
              <input
                type="radio"
                name="graphic"
                id="graphic-strong"
                class="selection-simple__input-radio"
              />
              <label
                for="graphic-strong"
                class="selection-simple__label-radio"
              ></label>
            </div>
            <ul class="list selection-simple__range-list">
              <li>Нормальное нужно</li>
              <li>Да, я хочу видео в FullHD</li>
              <li>Это моя работа, обязательно!</li>
            </ul>
          </div>
        </div>
        <div class="selection-simple__row">
          <p class="selection-simple__row-content">
            В насколько тяжелых программах работаете?
          </p>
          <div class="selection-simple__row-nav">
            <div class="selection-simple__wrapper-range">
              <div class="selection-simple__slider"></div>
              <input
                type="range"
                value="12.5"
                min="0"
                max="100"
                class="selection-simple__range"
              />
              <input
                type="radio"
                name="weight-program"
                id="weight-program-light"
                class="selection-simple__input-radio"
              />
              <label
                for="weight-program-light"
                class="selection-simple__label-radio"
              ></label>
              <input
                type="radio"
                name="weight-program"
                id="weight-program-middle"
                class="selection-simple__input-radio"
              />
              <label
                for="weight-program-middle"
                class="selection-simple__label-radio"
              ></label>
              <input
                type="radio"
                name="weight-program"
                id="weight-program-strong"
                class="selection-simple__input-radio"
              />
              <label
                for="weight-program-strong"
                class="selection-simple__label-radio"
              ></label>
            </div>
            <ul class="list selection-simple__range-list">
              <li>MS Office, установленные игры</li>
              <li>
                Иллюстратор, фотошоп, <br />
                но не супер загружаю
              </li>
              <li>Моделирование, обработка графики, расчеты</li>
            </ul>
          </div>
        </div>
        <div class="selection-simple__row">
          <p class="selection-simple__row-content">
            Что насчет <br />
            игровых настроек?
          </p>
          <div class="selection-simple__row-nav">
            <div class="selection-simple__wrapper-range">
              <div class="selection-simple__slider"></div>
              <input
                type="range"
                value="12.5"
                min="0"
                max="100"
                class="selection-simple__range"
              />
              <input
                type="radio"
                name="game-settings"
                id="game-settings-no"
                class="selection-simple__input-radio"
              />
              <label
                for="game-settings-no"
                class="selection-simple__label-radio"
              ></label>
              <input
                type="radio"
                name="game-settings"
                id="game-settings-light"
                class="selection-simple__input-radio"
              />
              <label
                for="game-settings-light"
                class="selection-simple__label-radio"
              ></label>
              <input
                type="radio"
                name="game-settings"
                id="game-settings-strong"
                class="selection-simple__input-radio"
              />
              <label
                for="game-settings-strong"
                class="selection-simple__label-radio"
              ></label>
              <input
                type="radio"
                name="game-settings"
                id="game-settings-full"
                class="selection-simple__input-radio"
              />
              <label
                for="game-settings-full"
                class="selection-simple__label-radio"
              ></label>
            </div>
            <ul class="list selection-simple__range-list">
              <li>Не играю</li>
              <li>
                Простые игры, можно <br />
                на средних настройках
              </li>
              <li>
                Игры тяжелые, <br />
                можно средне
              </li>
              <li>
                Выкручиваю <br />
                на максимум, геймер
              </li>
            </ul>
          </div>
        </div>
        <div class="selection-simple__row">
          <p class="selection-simple__row-content">Подключение мониторов</p>
          <div class="selection-simple__row-nav">
            <div class="selection-simple__wrapper-range">
              <div class="selection-simple__slider"></div>
              <input
                type="range"
                value="12.5"
                min="0"
                max="100"
                class="selection-simple__range"
              />
              <input
                type="radio"
                name="monitors"
                id="monitors-1"
                class="selection-simple__input-radio"
              />
              <label
                for="monitors-1"
                class="selection-simple__label-radio"
              ></label>
              <input
                type="radio"
                name="monitors"
                id="monitors-2"
                class="selection-simple__input-radio"
              />
              <label
                for="monitors-2"
                class="selection-simple__label-radio"
              ></label>
              <input
                type="radio"
                name="monitors"
                id="monitors-3"
                class="selection-simple__input-radio"
              />
              <label
                for="monitors-3"
                class="selection-simple__label-radio"
              ></label>
            </div>
            <ul class="list selection-simple__range-list">
              <li>1 монитор</li>
              <li>2 монитора</li>
              <li>3 монитора</li>
            </ul>
          </div>
        </div>
      </div>
      <button class="selection-simple__btn-res btn _primary">
        <svg class="btn__icon">
          <use xlink:href="img/icons/icons.svg#icon-list"></use>
        </svg>
        <span>Показать результат</span>
      </button>
    </form>
  </div>
</section>
