<section class="selection-simple">
  <div class="container">
    <div class="selection-simple__head">
      <svg class="selection-simple__head-icon">
        <use xlink:href="img/icons/icons.svg#icon-list"></use>
      </svg>
      <h1 class="title-2 selection-simple__title">Подбор по-простому</h1>
    </div>
    <div class="selection-simple__content">
      <p>
        Мини-ПК подбираем вам для конкретных задач. Просто двигайте ползунок
      </p>
      <p>Просто двигайте ползунок</p>
      <img src="@img/slider.svg" alt="icon" />
      <p>на нужные варианты</p>
    </div>
    <form action="#" class="selection-simple__form">
      <div class="selection-simple__row">
        <p class="selection-simple__row-content">
          Работа в интернете, развлечения, видео
        </p>
        <div class="selection-simple__wrapper-range">
          <div class="selection-simple__slider"></div>
          <input
            type="range"
            value="12.5"
            min="0"
            max="100"
            class="selection-simple__range"
          />
          <input
            type="radio"
            name="work"
            id="work-no"
            class="selection-simple__input-radio"
          />
          <label for="work-no" class="selection-simple__label-radio"></label>
          <input
            type="radio"
            name="work"
            id="work-social"
            class="selection-simple__input-radio"
          />
          <label
            for="work-social"
            class="selection-simple__label-radio"
          ></label>
          <input
            type="radio"
            name="work"
            id="work-middle"
            class="selection-simple__input-radio"
          />
          <label
            for="work-middle"
            class="selection-simple__label-radio"
          ></label>
          <input
            type="radio"
            name="work"
            id="work-end"
            class="selection-simple__input-radio"
          />
          <label
            for="work-end"
            class="selection-simple__label-radio"
          ></label>
        </div>
      </div>
    </form>
  </div>
</section>
