<section class="volumes">
  <div class="container">
    <h2 class="title-2-s volumes__title">
      Большие объемы <br />
      в наличии или <span>по вашему ТЗ</span>
    </h2>
    <div class="volumes__head-wrapper">
      <p class="volumes__content">
        Модели из <a href="#">общего каталога </a> доступны практически всегда:
        доставим до 300 штук в течение недели по России.
      </p>
      <p class="volumes__content _wrapper">
        Под заказ процесс дольше, но зато сделаем чётко под ваше техзадание.
      </p>
    </div>
    <div class="swiper volumes__slider">
      <div class="swiper-wrapper">
        <a
          href="@img/volumes.jpg"
          data-fancybox="portfolio"
          class="swiper-slide"
        >
          <img src="@img/volumes.jpg" alt="image" class="volumes__slide-img" />
        </a>
        <a
          href="@img/volumes.jpg"
          data-fancybox="portfolio"
          class="swiper-slide"
        >
          <img src="@img/volumes.jpg" alt="image" class="volumes__slide-img" />
        </a>
        <a
          href="@img/volumes.jpg"
          data-fancybox="portfolio"
          class="swiper-slide"
        >
          <img src="@img/volumes.jpg" alt="image" class="volumes__slide-img" />
        </a>
        <a
          href="@img/volumes.jpg"
          data-fancybox="portfolio"
          class="swiper-slide"
        >
          <img src="@img/volumes.jpg" alt="image" class="volumes__slide-img" />
        </a>
        <a
          href="@img/volumes.jpg"
          data-fancybox="portfolio"
          class="swiper-slide"
        >
          <img src="@img/volumes.jpg" alt="image" class="volumes__slide-img" />
        </a>
        <a
          href="@img/volumes.jpg"
          data-fancybox="portfolio"
          class="swiper-slide"
        >
          <img src="@img/volumes.jpg" alt="image" class="volumes__slide-img" />
        </a>
        <a
          href="@img/volumes.jpg"
          data-fancybox="portfolio"
          class="swiper-slide"
        >
          <img src="@img/volumes.jpg" alt="image" class="volumes__slide-img" />
        </a>
        <a
          href="@img/volumes.jpg"
          data-fancybox="portfolio"
          class="swiper-slide"
        >
          <img src="@img/volumes.jpg" alt="image" class="volumes__slide-img" />
        </a>
        <a
          href="@img/volumes.jpg"
          data-fancybox="portfolio"
          class="swiper-slide"
        >
          <img src="@img/volumes.jpg" alt="image" class="volumes__slide-img" />
        </a>
      </div>
    </div>
    <div class="volumes__bottom">
      <div class="volumes__item">
        <img src="@img/volume-item.jpg" alt="image" class="volumes__item-img" />
        <span
          >Согласуем <br />
          Техническое задание <br />
          на производстве</span
        >
      </div>
      <div class="volumes__item">
        <img src="@img/volume-item.jpg" alt="image" class="volumes__item-img" />
        <span
          >Сделаем тестовый образец, <br />
          проведем тесты, покажем <br />
          вам в деталях на видео</span
        >
      </div>
      <div class="volumes__item">
        <img src="@img/volume-item.jpg" alt="image" class="volumes__item-img" />
        <span
          >Запустим <br />
          в производство <br />
          всю партию</span
        >
      </div>
      <div class="volumes__rect">
        <p class="volumes__rect-content">
          В среднем от обращения до поставки готовой партии
        </p>
        <span class="volumes__rect-value">40-50 дней</span>
      </div>
    </div>
  </div>
</section>
