<section class="video-sect">
  <video src="files/video.mp4" loop="true" autoplay class="video-sect__video"></video>
  <div class="container video-sect__container">
    <div class="video-sect__info">
      <a href="#" class="btn-video">
        <svg class="btn-video__icon">
          <use xlink:href="img/icons/icons.svg#icon-video"></use>
        </svg>
      </a>
      <span class="video-sect__info-title">Реальное видео</span>
      <p class="video-sect__content">снятое на наших заводах - изготовителях</p>
    </div>
  </div>
</section>
