.btn-clear {
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  color: inherit;
}

.btn {
  @include flex-center;
  gap: 10px;
  position: relative;
  cursor: pointer;
  border: none;
  overflow: hidden;

  width: fit-content;
  min-height: 55px;
  padding: 10px 30px;
  border-radius: 100px;
  box-shadow:
    0px 4px 5px 0px rgba(240, 234, 230, 0.4) inset,
    0px 10px 20px -10px rgba(131, 118, 111, 0.93);

  font-size: 12px;
  text-align: center;
  font-weight: 700;
  color: var(--storm);
  z-index: 1;
  transition: box-shadow 0.2s ease;
  @include hover {
    box-shadow: 0px 10px 20px -10px rgba(131, 118, 111, 0.93);
    // &::before {
    //   opacity: 0;
    // }
    &::after {
      opacity: 1;
    }
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
    inset: 0;
    border-radius: 100px;
    z-index: -1;
    transition: opacity 0.2s ease;
  }
  &::before {
    background: radial-gradient(
      140.25% 61.98% at 50.19% 0%,
      #ccc3bd 0%,
      #9e938c 100%
    );
  }
  &::after {
    background: radial-gradient(
      140.25% 61.98% at 50.19% 0%,
      #90827a 0%,
      #90827a 100%
    );
    opacity: 0;
  }

  &._big {
    min-height: 75px;
    .btn__icon {
      width: 40px;
      height: 40px;
    }
  }
  &._min {
    font-size: 10px;
    min-height: 40px;
    font-weight: 500;
    gap: 7px;
    padding: 5px 20px;
  }

  &._gray {
    box-shadow: 0px 20px 20px -20px rgba(84, 81, 79, 0.54);
    background-color: transparent;
    &::before {
      background: var(--chalice);
    }
    &::after {
      width: 305px;
      height: 324px;
      background: linear-gradient(
        297deg,
        rgba(166, 166, 166, 0) 41.03%,
        #cecece 53.48%,
        rgba(166, 166, 166, 0) 66.5%
      );
      opacity: 1;
      left: auto;
      top: 50%;
      transform: translateY(-50%);
      animation: animationGlare 2.5s infinite ease-out;
    }
    @include hover {
      &::before {
        opacity: 1 !important;
      }
    }
  }

  &._primary {
    box-shadow: 0px 15px 20px -10px rgba(84, 81, 79, 0.54);
    &::before {
      background: radial-gradient(
        162.09% 64.58% at 50% -29.46%,
        #6aa3ee 0%,
        #4379be 100%
      );
    }
    &::after {
      background: radial-gradient(
        162.09% 64.58% at 50% -29.46%,
        #518ede 0%,
        #27558f 100%
      );
    }
  }
  &._simple {
    min-height: 44px;
    box-shadow: none;
    padding: 15px 25px;
    background-color: var(--primary-dark);
    transition: background-color 0.2s ease, color .2s ease;
    @include hover {
      background-color: var(--blue);
    }

    &::before,
    &::after {
      display: none;
    }
  }

  &._stroke {
    color: var(--main);
    border-color: var(--chalice);
    background-color: transparent;
    box-shadow: none;
    border: 1px solid var(--chalice);
    transition: background-color 0.2s ease;
    @include hover {
      background-color: var(--chalice);
      .btn__icon {
        color: var(--bg);
      }
    }

    &::after,
    &::before {
      display: none;
    }

    .btn__icon {
      color: var(--chalice);
    }
  }

  &__icon {
    width: 25px;
    height: 25px;
    transition: color 0.2s ease;
    &._min {
      width: 15px;
      height: 15px;
    }
  }
  &__content {
    display: block;
    font-size: 12px;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 0.24px;
  }
  &__arrow {
    width: 15px;
    height: 15px;
    color: var(--primary-light);
  }
}

.btn-video {
  @include flex-center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: rgba(238, 237, 235, 0.8);
  color: var(--primary);
  transition: transform 0.2s ease;
  @include hover {
    transform: scale(1.07);
  }

  &._primary {
    background-color: var(--primary);
    color: var(--storm);
    transition: background-color 0.2s ease;

    @include hover {
      background-color: var(--blue);
      transform: scale(1);
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
  }
}

@keyframes animationGlare {
  0% {
    right: 100%;
  }
  50% {
    right: 100%;
  }
  100% {
    right: -120%;
  }
}

.btn-r {
  @include flex-center;
  cursor: pointer;
  padding: 5px 30px;
  border-radius: 10px;
  min-height: 50px;
  border: none;
  background-color: var(--bg);
  text-align: center;

  font-size: 12px;
  font-weight: 700;
  transition: background-color 0.2s ease;
  @include hover {
    background-color: var(--silver-s);
  }

  &._gray {
    background-color: var(--cotton);
    box-shadow: 0px 20px 20px -20px rgba(84, 81, 79, 0.54);
    @include hover {
      background-color: var(--silver-s);
    }
  }
  &._primary {
    background-color: var(--primary);
    color: var(--storm);
    @include hover {
      background-color: var(--blue);
    }
  }
}
