.dropdown {
  position: relative;
  &__btn {
    display: flex;
    align-items: center;
    gap: 5px;
    @include hover {
      .dropdown__arrow {
        transform: rotate(180deg);
      }
    }
  }
  &__arrow {
    width: 12px;
    height: 12px;
    transition: transform .2s ease;
  }
  &__item {
    position: absolute;
    
  }
}