.section-card {
  position: relative;
  padding: 50px 0px;
  min-height: 900px;
  display: flex;
  align-items: center;
  z-index: 1;

  @include laptop-min {
    min-height: auto;
    padding: 80px 0px;
    &::before {
      position: absolute;
      content: "";
      inset: 0;
      background: linear-gradient(
        225deg,
        rgba(74, 127, 195, 0) -35.55%,
        #4a7fc3 85.23%
      );
      z-index: -1;
    }
  }
  @include mobile {
    background: none !important;
    margin-bottom: 45px;
    padding: 0;
    &::before {
      display: none;
    }

    &._open {
      .section-card__body {
        max-height: none;
      }
    }
  }

  &__body {
    @media (min-width: 480px) {
      background: none !important;
    }
    @include mobile {
      display: block;
      position: relative;
      overflow: hidden;
      padding: 40px;
      width: 100%;
      border-radius: 50px;
      box-shadow: 0px 25px 50px 0px rgba(147, 138, 133, 0.5);
      height: 100%;
      z-index: 1;
      transition: max-height 0.4s ease;

      &::before,
      &::after {
        position: absolute;
        content: "";
        inset: 0;
      }
      &::before {
        background: linear-gradient(
          225deg,
          rgba(74, 127, 195, 0) -35.55%,
          #4a7fc3 85.23%
        );
        z-index: -1;
      }
      &::after {
        background: linear-gradient(
          180deg,
          rgba(74, 127, 195, 0) 75.91%,
          #4a7fc3 96.59%
        );
        z-index: 1;
      }
    }
  }
  &__title {
    &._mobile {
      @media (min-width: 480px) {
        @include hidden;
      }
    }
    @include mobile {
      line-height: normal;
      &:not(.section-card__title._mobile) {
        @include hidden;
      }
    }
  }
  &__search-btn {
    position: absolute;
    right: 35px;
    bottom: -25px;
    display: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--storm);
    color: var(--primary);
    transition:
      color 0.2s ease,
      background-color 0.2s ease;
    z-index: 10;
    @include hover {
      color: var(--storm);
      background-color: var(--primary);
    }
    @include mobile {
      @include flex-center;
    }
  }
  &__search-icon {
    width: 20px;
    height: 20px;
  }
}
