.title-main {
  font-size: 48px;
  font-weight: 400;

  @include laptop-min {
    font-size: 32px;
  }
  @include tablet {
    font-size: 24px;
  }
}

.title-1 {
  font-size: 36px;
  @include tablet {
    font-size: 32px;
  }
}
.title-2 {
  font-size: 40px;
  font-weight: 400;
  @include laptop-min {
    font-size: 32px;
  }
  @include tablet {
    font-size: 24px;
    line-height: 140%;
  }

  span {
    display: inline-block;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 100px;
    border: 1px solid var(--primary);
    transform: translateY(-4px);
    @include laptop-min {
      transform: translateY(-2px);
      font-size: 16px;
    }
    @include tablet {
      font-size: 13px;
      line-height: normal;
    }
  }
}

.title-3 {
  font-size: 32px;
  font-weight: 400;

  span {
    font-weight: 600;
    color: var(--primary);
  }

  @include laptop-min {
    font-size: 28px;
  }

  @include tablet {
    font-size: 24px;
  }
}

.title-2-s {
  font-size: 40px;
  font-weight: 400;
  @include laptop-min {
    font-size: 32px;
  }
  @include tablet {
    font-size: 24px;
    line-height: 140%;
  }

  span {
    color: var(--primary);
    font-weight: 500;
  }
}
