.modal-buyer {
  &__bg {
    position: absolute;
    width: 100%;
    height: auto;
    top: -50px;
    right: 0;
    object-fit: cover;
    object-position: top;
    z-index: -1;
    @media (max-width: 830px) {
      width: 900px;
      max-width: none;
      right: -50px;
    }
    @media (max-width: 760px) {
      right: -80px;
    }
    @media (max-width: 700px) {
      right: -220px;
    }
    @include tablet-min {
      top: 0;
      width: 850px;
    }
    @include mobile {
      right: -245px;
      width: 790px;
    }
    @media (max-width: 400px) {
      right: -270px;
    }

    &._women {
      top: 0;
      @include tablet {
        right: -100px;
      }
      @include tablet-min {
        right: -195px;
      }
      @include mobile {
        right: -100px;
        opacity: 0.5;
      }
    }

  }
  &__tag {
    display: block;
    width: fit-content;
    font-size: 12px;
    font-weight: 700;
    line-height: 120%;
    color: white;
    padding: 15px 25px;
    border-radius: 100px;
    background-color: var(--silver);
    margin-bottom: 15px;
    @include tablet {
      display: flex;
      align-items: center;
      position: relative;
      padding: 0;
      background-color: transparent;
      color: var(--primary);
      padding-left: 16px;

      &::before {
        position: absolute;
        content: "";
        left: 0;
        width: 8px;
        height: 8px;
        border-radius: 3px;
        background-color: currentColor;
      }
    }
  }
  &__title {
    max-width: 420px;
    font-size: 24px;
    font-weight: 400;
    margin: 0px 0px 30px 0px;
    @include laptop-min {
      max-width: 325px;
    }
    @include tablet {
      font-size: 16px;
    }
    @include tablet-min {
      max-width: 240px;
    }

    span {
      color: var(--primary);
      font-weight: 500;
    }
  }
  &__item-number {
    display: flex;
    align-items: center;
    gap: 10px;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    @include tablet {
      gap: 0px;
      align-items: start;
      flex-direction: column;
    }
  }
  &__number {
    font-size: 48px;
    font-weight: 300;
    line-height: 160%;
    color: white;
    @include tablet {
      font-size: 32px;
      font-weight: 300;
      line-height: 160%;
    }
  }
  &__item-content {
    margin: 0;
    font-size: 12px;
    line-height: 160%;
    max-width: 250px;
  }
  &__contacts {
    display: flex;
    align-items: center;
    gap: 35px;
    margin-bottom: 15px;
    @include tablet {
      align-items: start;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 10px;
    }
  }
  &__social {
    display: flex;
    gap: 15px;
  }
  &__social-btn {
    display: block;
    width: 35px;
    height: 35px;
    transition: transform 0.2s ease;
    @include hover {
      transform: scale(1.07);
    }
  }
  &__social-icon {
    width: 100%;
    height: 100%;
  }
  &__tel {
    display: block;
    padding: 8px 30px;
    border-radius: 100px;
    background-color: white;

    font-size: 10px;
    font-weight: 500;
    @include hover {
      span {
        text-decoration: underline;
      }
    }

    span {
      display: block;
      color: var(--primary);
      font-size: 12px;
      font-weight: 700;
    }
  }
}
